@font-face {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/encode-sans-v2-latin_latin-ext-300.eot'); /* IE9 Compat Modes */
    src: local('Encode Sans Light'), local('EncodeSans-Light'),
    url('fonts/encode-sans-v2-latin_latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/encode-sans-v2-latin_latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/encode-sans-v2-latin_latin-ext-300.woff') format('woff'), /* Modern Browsers */
    url('fonts/encode-sans-v2-latin_latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/encode-sans-v2-latin_latin-ext-300.svg#EncodeSans') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/encode-sans-v2-latin_latin-ext-600.eot'); /* IE9 Compat Modes */
    src: local('Encode Sans SemiBold'), local('EncodeSans-SemiBold'),
    url('fonts/encode-sans-v2-latin_latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/encode-sans-v2-latin_latin-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/encode-sans-v2-latin_latin-ext-600.woff') format('woff'), /* Modern Browsers */
    url('fonts/encode-sans-v2-latin_latin-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/encode-sans-v2-latin_latin-ext-600.svg#EncodeSans') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/encode-sans-v2-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
    src: local('Encode Sans Bold'), local('EncodeSans-Bold'),
    url('fonts/encode-sans-v2-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/encode-sans-v2-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/encode-sans-v2-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
    url('fonts/encode-sans-v2-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/encode-sans-v2-latin_latin-ext-700.svg#EncodeSans') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 800;
    src: url('fonts/encode-sans-v2-latin_latin-ext-800.eot'); /* IE9 Compat Modes */
    src: local('Encode Sans ExtraBold'), local('EncodeSans-ExtraBold'),
    url('fonts/encode-sans-v2-latin_latin-ext-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/encode-sans-v2-latin_latin-ext-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/encode-sans-v2-latin_latin-ext-800.woff') format('woff'), /* Modern Browsers */
    url('fonts/encode-sans-v2-latin_latin-ext-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/encode-sans-v2-latin_latin-ext-800.svg#EncodeSans') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/open-sans-v15-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('fonts/open-sans-v15-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/open-sans-v15-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/open-sans-v15-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/open-sans-v15-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/open-sans-v15-latin_latin-ext-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/source-code-pro-v7-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
    src: local('Source Code Pro'), local('SourceCodePro-Regular'),
    url('fonts/source-code-pro-v7-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/source-code-pro-v7-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/source-code-pro-v7-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/source-code-pro-v7-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/source-code-pro-v7-latin_latin-ext-regular.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}

.reveal {
    font-size: 0.85vmin;
    font-family: 'Open Sans', sans-serif;
}

.reveal > .slides section.wrapper {
    height: 100%;
    width: 100%;
}

.reveal .controls .controls-arrow {
    color: #69C86C;
}

.reveal > .slides section.slide {
    font-size: 4.25vmin;
    height: 100%;
    width: 100%;
}

.reveal > .slides section.slide img {
    box-shadow: none;
    border: none;
    margin: 0;
    background: transparent;
}

.reveal > .slides section.slide .big > img {
    width: 60vh;
}

.reveal > .slides section.slide .underline {
    text-decoration: underline;
}

.reveal > .slides section.slide img.border {
    border: 0.15em solid black;
}

.reveal > .slides section.slide img.text {
    width: 0.65em;
}

.reveal > .slides section.slide img.small {
    width: 2vmax;
}

.reveal > .slides section.slide img.big {
    width: 8vmin;
}

.reveal > .slides section.slide img.bigger {
    width: 16vmin;
}

.reveal > .slides section.slide img.biggest {
    width: 32vmin;
}

.reveal > .slides section.slide img.sub {
    width: 64vmin;
}

.reveal > .slides section.slide img.main {
    width: 80vmin;
}

.reveal > .slides section.slide img.main.big {
    width: 120vmin;
}

.reveal > .slides section.list .column > div > div {
    margin-bottom: 0.25em;
    border-bottom: 0.05em dotted #CCCCCC;
}

.reveal > .slides section.list .column > div > div.title {
    margin-bottom: 0.25em;
    font-size: 1em;
}

.reveal > .slides section.list .column > div > div > a {
    white-space: nowrap;
}

.reveal > .slides section.list .column > div > div > a:not([href]) {
    color: #AAAAAA;
    font-style: italic;
}

.reveal > .slides section.list .column > div > div > a[href^='http'] {
    color: #555555;
    font-style: italic;
}

.reveal > .slides section.list .column > div > div.experimental > a[href^='http'] {
    color: lightcoral;
}

.reveal > .slides section.slide {
    grid-template-rows: auto;
}

.reveal > .slides section.slide.header {
    grid-template-rows: max-content auto;
}

.reveal > .slides section.slide.footer {
    grid-template-rows: auto max-content;
}

.reveal > .slides section.slide.header.footer {
    grid-template-rows: max-content auto max-content;
}

.reveal .slides section.slide {
    padding: 0;
}

.reveal > .slides section.slide > div {
    width: 100%;
    display: flex;
}

.reveal > .slides section.slide > div .column {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reveal > .slides section.slide > div .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reveal > .slides section.slide > div .column.aligend {
    justify-content: flex-start;
}

.reveal > .slides section.slide > div .column.distributed {
    justify-content: space-between;
}

.reveal > .slides section.slide > div .row.aligend {
    align-items: flex-start;
}

.reveal > .slides section.slide > div .column > div {
    margin: 0 1.5em;
}

.reveal > .slides section.slide > div .column.aligend > div {
    flex-grow: 1;
}

.reveal > .slides section.slide div.distance {
    margin-bottom: 0.75em;
}

.reveal > .slides section.slide img.distance {
    margin-right: 0.75em;
}

.reveal > .slides section.slide > .header,
.reveal > .slides section.slide > .footer {
    padding: 1.5vmax 0;
    padding-left: 2vmax;
}

.reveal > .slides section.slide > .content {
    padding: 1.5vmax 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reveal > .slides section.slide.left > .content {
    padding-left: 10vmax;
    padding-right: 5vmax;
    width: calc(100% - 10vmax - 5vmax);
    text-align: left;
}

.reveal > .slides section.slide .center {
    text-align: center;
}

.reveal > .slides section.title {
    background-color: #0A1C24;
    color: #FFFFFF;
}

.reveal > .slides section.title .main {
    color: #69C86C;
}

.reveal > .slides section img[src='images/profile.jpg'] {
    border-radius: 10%;
    border: 0.15em solid #69C86C;
    transform: rotate(5deg);
    margin-bottom: 2rem;
}

.reveal > .slides section.title a {
    color: #CCCCCC;
}

.reveal > .slides section.slide.top > .content {
    justify-content: flex-start;
}

.reveal > .slides section.slide > .header {
    font-size: 0.75em;
    color: #69C86C;
    font-family: 'Encode Sans', sans-serif;
    font-weight: bolder;
}
.reveal > .slides section.slide > .footer {
    display: flex;
    font-size: 0.6em;
    background-color: #0A1C24;
    color: #FFFFFF;
    justify-content: space-between;
    padding-right: 2vmax;
    width: auto;
}

.reveal > .slides section.slide > .footer a {
    color: #FFFFFF;
}

.reveal > .slides section.slide > .footer span.main {
    color: #69C86C;
    font-weight: bolder;
}

.reveal > .slides section.slide > .footer > div {
    display: flex;
    align-items: center;
}

.reveal > .slides section.slide > .footer > div img {
    max-width: 6vw;
    margin-right: 1em;
}

.reveal > .slides section.slide .title {
    font-size: 1.5em;
    font-weight: bold;
}

.reveal > .slides section.slide .big {
    font-size: 3em;
}

.reveal > .slides section.slide .medium {
    font-size: 2.5em;
}

.reveal > .slides section.slide .normal {
    font-size: 1em;
}

.reveal > .slides section.slide .smaller {
    font-size: 0.5em;
}

.reveal > .slides section.slide .smallest {
    font-size: 0.25em;
}

.reveal > .slides section.slide .small {
    font-size: 0.75em;
}

.reveal > .slides section.slide .dark {
    color: black;
}

.reveal > .slides section.slide .italic {
    font-style: italic;
}

.reveal > .slides section.slide .subtext {
    font-size: 0.75em;
    font-style: italic;
}

.reveal > .slides section.slide .mono {
    color: white;
    background-color: black;
}

.reveal > .slides section.slide .title.big.mono {
    padding: 0 0.25em;
    opacity: 0.75;
}

.reveal .backgrounds .slide-background.transparent {
    opacity: 0.5;
}

.reveal > .slides section.slide .margin {
    margin: 0 2vw;
}

input[type=button] {
    background-color: #BE1432;
    color: white;
    padding: 0.06em 0.5em;
}

input[type=button]:disabled {
    background-color: rgb(102, 95, 96);
    color: #CCCCCC;
}

.reveal .hidden {
    display: none;
}

.reveal a.invisible {
    color: black;
}

.reveal div.middle {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.reveal .raccoon-logo {
    max-width: 5vw;
}

.reveal .my-karakun {
    color: #69C86C;
    font-weight: bold;
}

.reveal .api-worldcloud svg {
    width: 80vw;
    font-weight: bold;
}

.reveal .cover {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reveal .cover.bottom {
    height: 75vh;
    align-items: flex-end;
}

.reveal .fragment.hidden {
    display: none;
}

.reveal .fragment.hidden.visible {
    display: initial;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
  }

.rotating {
    animation: rotating 4s linear infinite;
}

.pulse {
    display: inline-block;
    animation: pulse 4s linear infinite;
}

.reveal > .slides section.list .column {
    font-size: 0.65em;
}

@media (max-aspect-ratio: 4/3) {
    .reveal > .slides section.list .column {
        font-size: 0.5em;
    }
}

.reveal .controls {
    bottom: 8px;
    right: 140px;
    opacity: 0.35;
    font-size: 1em;
}